body {
  background-color: white;
  font:
    16px Arial,
    sans-serif;
}

header {
  background-color: #ff7676;
  color: white;
  padding: 20px;
  text-align: center;
}

.card {
  border-radius: 20px 20px 0 0;
  background-color: lightsalmon;
  padding: 20px;
  border-radius: 30px;
  max-width: 400px;
  margin: 20px auto;
}

.card > img {
  width: 100%;
  border-radius: 20px 20px 0 0;
  display: block;
}

.card > a {
  color: blue;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
